/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor
/bin/
/composer.phar
*.orig
/web/uploads
/.idea/

.hg
.git

.idea

composer.phar

var
vendor

Web/resource