.Widget_Menu_Nav .nav > li > a {
    display: block;
    padding: 4px 20px;
}

.Widget_Menu_Nav .nav .nav {
    /*display: none;*/
    padding-bottom: 10px;
}

.Widget_Menu_Nav .nav > .active > ul {
    display: block;
}

.Widget_Menu_Nav .nav .nav > li > a {
    font-weight: 400;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}

.Widget_Menu_Nav .nav .nav > .Widget_Menu_Nav > a, .Widget_Menu_Nav .nav .nav > .Widget_Menu_Nav > a, .Widget_Menu_Nav .nav .nav > .active > a {
    padding-left: 28px;
}