* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.notifications {
    position: fixed;
    z-index: 9999;
}
/* Positioning */
.notifications.top-right {
    right: 10px;
    top: 25px;
}

/* Notification Element */
.notifications > div {
    position: relative;
    margin: 5px 0;
}